{% extends "index.html" %}

{% block title %}Коментарі{% endblock %}

{% block content %}
<style>
    /* Styles for the success button */
    .success-link {
      display: inline-block;
      padding: 6px 12px;
      margin: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;
      background-color: #5cb85c; /* Bootstrap success button color */
      border-color: #4cae4c; /* Bootstrap success button border color */
      text-decoration: none;
    }
  
    /* Hover effect for the success button */
    .success-link:hover {
      background-color: #4cae4c; /* Bootstrap success button hover color */
      border-color: #4cae4c; /* Bootstrap success button hover border color */
    }
    .danger-link {
    display: inline-block;
    padding: 6px 12px;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f; /* Bootstrap danger button color */
    border-color: #d43f3a; /* Bootstrap danger button border color */
    text-decoration: none;
  }

  /* Hover effect for the danger button */
  .danger-link:hover {
    background-color: #d2322d; /* Bootstrap danger button hover color */
    border-color: #ac2925; /* Bootstrap danger button hover border color */
  }
  </style>
    {% if user.is_authenticated %}
    {% if category == 1 %}
    {% for anon in post_data %}
    <div class="mt-4 p-5 bg-success text-white rounded">
        <h1>{{ anon.post_name }}</h1>
        <p>{{ anon.post_text }}</p>
        {% if anon.post_image %}
        <img src="{{ MEDIA_URL }}{{ anon.post_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ anon.post_author }}</b><br>
        <i title="UTC">{{ anon.post_date }}</i>
        <a href="{% url 'add_com' anon.id  anon.post_category %}" class="success-link">Додати коментар</a>
    </div>
    {% endfor %}
    {% for comm in com_data %}
    <div class="mt-4 alert alert-success" role="alert">
        <p>{{ comm.com_text }}</p>
        {% if comm.com_image %}
        <img src="{{ MEDIA_URL }}{{ comm.com_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ comm.com_author }}</b><br>
        <i title="UTC">{{ comm.com_date }}</i>
        {% if user.username == comm.com_author %}
        <a href="{% url 'update_com' comm.id comm.com_post_id comm.com_category %}" class="success-link">Змінити</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% elif user.username == comm.com_author %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% endif %}
    </div>
    {% endfor %}
    {% elif category == 2 %}
    {% for anon in post_data %}
    <div class="mt-4 p-5 bg-danger text-white rounded">
        <h1>{{ anon.post_name }}</h1>
        <p>{{ anon.post_text }}</p>
        {% if anon.post_image %}
        <img src="{{ MEDIA_URL }}{{ anon.post_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ anon.post_author }}</b><br>
        <i title="UTC">{{ anon.post_date }}</i>
        <a href="{% url 'add_com' anon.id  anon.post_category %}" class="success-link">Додати коментар</a>
    </div>
    {% endfor %}
    {% for comm in com_data %}
    <div class="mt-4 alert alert-danger" role="alert">
        <p>{{ comm.com_text }}</p>
        {% if comm.com_image %}
        <img src="{{ MEDIA_URL }}{{ comm.com_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ comm.com_author }}</b><br>
        <i title="UTC">{{ comm.com_date }}</i>
        {% if user.username == comm.com_author %}
        <a href="{% url 'update_com' comm.id comm.com_post_id comm.com_category %}" class="success-link">Змінити</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% elif user.username == comm.com_author %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% endif %}
    </div>
    {% endfor %}
    {% elif category == 3 %}
    {% for anon in post_data %}
    <div class="mt-4 p-5 bg-info text-white rounded">
        <h1>{{ anon.post_name }}</h1>
        <p>{{ anon.post_text }}</p>
        {% if anon.post_image %}
        <img src="{{ MEDIA_URL }}{{ anon.post_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ anon.post_author }}</b><br>
        <i title="UTC">{{ anon.post_date }}</i>
        <a href="{% url 'add_com' anon.id  anon.post_category %}" class="success-link">Додати коментар</a>
    </div>
    {% endfor %}
    {% for comm in com_data %}
    <div class="mt-4 alert alert-info" role="alert">
        <p>{{ comm.com_text }}</p>
        {% if comm.com_image %}
        <img src="{{ MEDIA_URL }}{{ comm.com_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ comm.com_author }}</b><br>
        <i title="UTC">{{ comm.com_date }}</i>
        {% if user.username == comm.com_author %}
        <a href="{% url 'update_com' comm.id comm.com_post_id comm.com_category %}" class="success-link">Змінити</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% elif user.username == comm.com_author %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% endif %}
    </div>
    {% endfor %}
    {% elif category == 4 %}
    {% for anon in post_data %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>{{ anon.post_name }}</h1>
        <p>{{ anon.post_text }}</p>
        {% if anon.post_image %}
        <img src="{{ MEDIA_URL }}{{ anon.post_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ anon.post_author }}</b><br>
        <i title="UTC">{{ anon.post_date }}</i>
        <a href="{% url 'add_com' anon.id  anon.post_category %}" class="success-link">Додати коментар</a>
    </div>
    {% endfor %}
    {% for comm in com_data %}
    <div class="mt-4 alert alert-primary" role="alert">
        <p>{{ comm.com_text }}</p>
        {% if comm.com_image %}
        <img src="{{ MEDIA_URL }}{{ comm.com_image }}" alt=""><br>
        {% endif %}
        <b title="Нік автора">{{ comm.com_author }}</b><br>
        <i title="UTC">{{ comm.com_date }}</i>
        {% if user.username == comm.com_author %}
        <a href="{% url 'update_com' comm.id comm.com_post_id comm.com_category %}" class="success-link">Змінити</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% elif user.username == comm.com_author %}
        <a href="{% url 'del_com' comm.id comm.com_post_id comm.com_category %}" class="danger-link">Видалити</a>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
{% endblock %}