{% extends "index.html" %}

{% block title %}Корисна інформація{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Корисна інформація😀</h1>
        <p>На цій сторінці можете отримати контактну інформацію керівництва ОСББ та комунальних служб.</p>
    </div>
    {% else %}
    <div style="text-align: center; padding: 20px; border-radius: 8px; margin-top: 220px;">
        <h1>Ви ще не увійшли!</h1><br>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Увійти</button>
            </form>
            <form action="{% url 'signup' %}" method="post" class="my-1">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">Зареєструватись</button>
            </form>
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Забули пароль?</button>
            </form>
    </div>
    {% endif %}
{% endblock %}